/*******************************
MINHAS LEADS
*******************************/
.minhas-leads-list{
    .list-group-item{
        &:nth-child(2n+1){
            background-color: #fdfdfd;
            
            &:hover{
                background-color: #f8f9fa;
            }
        }
    }
}

.anotation_form{
    .items {
        > fieldset {
            border-right: none;
        }
        
        &>:last-child{
            @extend .border-right;
        }
    }
}

@include media-breakpoint-down(sm) {
    .anotation_form{
        .items {
            &>:nth-child(2n){
                border-right: 1px solid $gray-300;
            }
        }
    }    
}