/*******************************
NAVBARS
*******************************/

/* NAVBAR */
.main-nav {
	background: darken($primary, 14%)
	linear-gradient(90deg, darken($primary, 14%) 0, lighten($primary, 8%));
	height: 66px;

	.nav-profile-picture {
		width: 32px;
		height: 32px;
	}
}

/* NAVBAR VERTICAL DE CONFIGURAÇÕES DE USUÁRIO */
.account-config {
	.vertical-navbar {
		.navbar-toggler {
			&.custom {
				margin: 0;
				padding: 0 10px;

				.custom-icon {
					font-size: 35px;
					margin: 0;
					line-height: 40px;
				}
			}
		}
	}
}

/* CUSTOM */
.navbar-links {
	border-bottom: 1px solid darken($primary, 9%);
}

.divider-vertical {
	margin: 0 9px;
	border-left: 1px solid rgba(0, 0, 0, 0.06);
	border-right: 1px solid transparent;
	height: 35px;
}

@include media-breakpoint-down(md) {
	.divider-vertical {
		margin: 9px 0;
		border-top: 1px solid rgba(0, 0, 0, 0.03);
		border-bottom: 1px solid transparent;
		width: 100%;
		height: 1px;
	}

	.main-nav {
		.navbar-collapse{
			background-color: $primary !important;
			position: absolute;
			top: 66px;
			width: 100%;
			left: 0;
		}
	}
}

.dropdown-menu {
	min-width: 270px;
	width: auto;
	top: 40px;
}
