.recomendacao-categoria {
	.slick-track {
		display: -ms-flexbox !important;
		display: flex !important;
		-ms-flex-wrap: wrap !important;
		flex-wrap: wrap !important;

		.leads-cards {
			display: -ms-flexbox !important;
			display: flex !important;
			height: auto !important;
		}
	}
}
